<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Tweet Queue</title>
		<link rel="stylesheet" href="/static/default.css" type="text/css" />
		<!--[if !IE]>-->
		<link media="only screen and (max-device-width: 480px)" rel="stylesheet" type="text/css" href="/static/iphone.css"/>
		<!--<![endif]-->
		<meta name="viewport" content="width=320" />
		
	</head>
	<body>
		<p style="height: 0px; margin: 0px;"><a name="top"></a></p>
		<div class="profile">
			<img src="{{ profile.imageref }}" class="profilepicture"/>
			<div>
				<h1 class="fullname">{{ profile.fullname }}</h1>
				<div class="screenname">{{ profile.screenname }}</div>
				<div class="links"><a href="/{{ profile.screenname }}/tweets?mode=add">Schedule a tweet</a> | <strong>Upcoming tweets</strong> | <a href="/{{ profile.screenname }}/tweets/recent">Recent tweets</a> | <a href="/{{ profile.screenname }}">View profile information</a> | <a href="/{{ profile.screenname }}?mode=edit">Edit profile</a></div>
			</div>
		</div>
		<ul class="tweets">
			{% for tweet in tweets %}
			<li>
				<div class="date">
					{{ tweet.date.readable }}
				</div>
				<blockquote class="text">
					{{ tweet.text }}
				</blockquote>
				<div class="links">
					<a href="/tweet/{{ tweet.key }}">View</a> | <a href="/tweet/{{ tweet.key }}?mode=edit">Edit</a>
				</div>
			</li>
			{% endfor %}
		</ul>
		<div>
			{% if prevpage %}
			<a href="{{ prevpage }}">&lt; Previous</a>
			{% endif %}

			{% if nextpage %}
			<a href="{{ nextpage }}">Next &gt;</a>
			{% endif %}
		</div>
	</body>
</html>
