* {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Verdana, sans-serif;
}

body {
	padding: 5px;
}

.profile {
	border-bottom: dotted 1px blue;

}
	.profile img {
		float: left;
		border: solid 1px black;
		width: 48px;
		height: 48px;
		margin: 3px;
	}

	.profile h1 {
	}

	.profile .screenname {
		color: gray;
	}
	
	.profile .links {
		font-size: small;
	}

.tweets {
}

	.tweets li {
		border-bottom: dashed 1px gray;
		margin: 0.2em;
		padding: 0.2em;
	}
	
	.tweets .date {
		font-weight: bold;
		font-size: small;
	}

	.tweets .text {
		margin-top: 0.2em;
		margin-bottom: 0.2em;
		padding: 0.5em;
		background-color: #ffffdd;
		border-left: solid 1px gray;
	}

	.tweets .links {
		font-size: small;
	}

input, textarea
{
	padding: 0.2em;
	margin: 0.2em;
}
input[type="submit"]
{
	width: 75px;
}

a {
	text-decoration: none;
	color: #5577ff;
}
